* {
  margin: 0;
  padding: 0;
}

#wrapper {
  max-width: 100%;
  margin: 4px;
}

h1 {
  padding: 16px;
}

a {
  text-decoration: none;
}

#header {
  background-color: silver;
}

#navbar {
  border-top: 1px solid #fff;
  background-color: #333;
}

#navbar a {
  color: #fff;
}

li {
  display: inline;
  padding: 8.5px;
}

#navbar ul {
  list-style: none;
}

#navbar {
  padding: 8px;
  padding-left: 0;
}

li:hover {
  background-color: green;
}

.flex-container {
  display: flex;
}

#main-content {
  float: left;
  margin: 30px;
  width: 70%;
}

.big-heading {
  font-size: 36px;
  color: steelblue;
}

.paragraph-content {
  justify-content: center;
}

#aside-content {
  width: 30%;
  padding: 24px;
  background-color: silver;
}

h2 {
  color: steelblue;
}

#footer {
  background-color: rgb(146, 146, 146);
  padding: 26px;
}

#bottom {
  text-align: right;
}
